html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
}

$header-height: 60px;

.header {
  height: $header-height;
  background-color: #138de9;
  color: #fff;
  padding: 0 30px;
  line-height: $header-height;
  font-size: 2rem;
}

#sidebar {
  width: 240px;
  position: fixed;
  top: $header-height;
  left: 0;
  height: 100%;
}

#main-container {
  padding-left: 250px;
}

.ant-menu-item>a {
  position: absolute;
  top: 0;
  left: 46px;
  right: 0;
}
