@import '~styles/app';

.sidebar {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  width: 220px;

  .nav li.active a {
    background-color: #428bca;
    color: #fff;
  }
}

.page-container {
  padding-left: 220px;
}
