@import '~normalize.css';

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
