@import '~normalize.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
